[2012-06-07 22:20] idryanov opened #1 "Test public issue"
Make everything better please, for everyone, everywhere.

[2012-07-25 09:37] limhyon opened #2 "several changes make this not working"
I've found that, someone checkout current version of scan_tools,
laser_ortho_projector does not work.
I think current version of laser_ortho_projector subscribes pose instead of imu.
Can you explain why?

[2012-08-29 20:34] #2 closed, assigned to ccny-ros-pkg

[2012-08-29 20:34] #1 closed, assigned to nobody

[2012-11-23 09:12] randaz81 opened #3 "critical memory leak"
The laser_scan_matcher application is affected by a critical memory leak that cause the module to consume about 8 Gb of memory in 10 minutes, then the module crashes.
I reported the same issue here:  http://answers.ros.org/question/47723/laser_scan_matcher-crash/
Let me know if you need any additional info to debug this problem. Thanks.

[2012-12-03 14:16] #3 closed, assigned to nobody

[2013-09-17 14:38] baxelrod-bdai opened #8 "minor documentation note"
There is a parameter (~use_vel) that is mentioned in the parameters section, but the corresponding topic is not mentioned in the topics section.  I had to look at the code to determine the type of the vel message.

[2013-11-05 09:28] AndLydakis opened #10 "Linking Bug"
A linker called libutils-gold seems to cause the package not to compile. I have found one other report of this occuring

[2014-02-02 10:46] vatula opened #11 "laser_scan_matcher demo contains old vcg filed not compatible with rviz hydro"
scan_tools/laser_scan_matcher/demo has old vcg files. Demo will not run in hydro.
command

log snippet:

[code]

[2014-03-03 16:45] martimorta opened #12 "CSM Fails to compile in Fuerte branch"
Hi, trying to compile csm in fuerte we bumped into the following error, is there a way to fix it? Thanks!

[code]

[2014-03-04 16:13] #12 closed, assigned to nobody

[2014-04-08 03:57] #11 closed, assigned to nobody

[2014-05-21 20:08] slivingston opened #15 "Dead URL in package header for laser_scan_matcher"
This concerns `package.xml` in the `laser_scan_matcher` package.
The URL to Andrea Censi's CSM site should be http://censi.mit.edu/software/csm/

[2014-10-20 03:38] trainman419 opened #17 "Update doc status"
Users on ROS answers aren't aware that the scan_tools package will work on Hydro. This should be as easy as adding the scan_tools package to the rosdistro index: https://github.com/ros/rosdistro

See: http://answers.ros.org/question/195323/laser_scan_matcher-with-hydro/

[2014-11-24 12:52] chaiein opened #18 "csm_all.h file not found"
There is a continous missing of files starting from csm_all.h. After downloading the csm_all.h file next error of missing another gsl related or csm related file...More than 30 files are missing I downloaded and added but there is no use. I got Debug.h file missing after json-c/json.h file is added as it was missing.

[2015-03-03 09:01] corot opened #19 "Make laser_scan_matcher work with scans of more/less than 180 degrees"
As explained in [this ROS answer](http://answers.ros.org/question/203929/does-laser_scan_matcher-work-with-scans-of-moreless-than-180-degrees/), it seems to me that laser_scan_matcher doesn't work with scans of more/less than 180 degrees. Would be a great improvement to allow this, for example for TurtleBots that use a "laser scan" of only 55 deg. faked from kinect depth images.

[2015-03-15 19:39] awesomebytes commented on #19
I've been using a fake laser from a depthimage_to_laserscan source from a structure.io and it kind of works for a while... until the laser data seems to not be enough. I mean, there is really just a few laser points to match, I think it makes sense. (57º FOV...)
This is my launch file:
https://gist.github.com/awesomebytes/73e2d5e3e7bcb0457d24

It includes the use of imu and vel (this last one made

[2015-04-24 14:49] corot commented on #19
Hi, I have retried the scan matcher with your parameters and performance is notably better, regardless the fov of the laser (my bad... i blamed the wrong guy). Thanks!!!

[2015-04-24 14:49] #19 closed

[2015-04-24 15:07] corot opened #20 "Scan matcher: rely on odometry/velocity when ICP fails"
Hi, I use scan the matcher and I have sometimes errors like the following, mostly when the robot spins in place:

[code]

The effect is that the scan matcher pose jumps weirdly until the errors finish (last around 2 or 3 seconds) and then is not anymore attached to the robot. So I propose to changes:
- Rely on odometry or velocity inputs (if available) to update the pose when ICP fails
- Provide a

[2015-04-24 15:11] corot opened #21 "Allow choosing between geometry_msgs/Twist and geometry_msgs/TwistStamped"
for velocity input, as many robots (e.g. Turtlebot2) listen for Twist commands.

For example with a ~stamped_vel parameter that selects the registered callback.

[2015-05-22 11:58] joannystephant commented on #12
It is the case
you need to add
csm/build/csm-git-23703a998fff57250322.tar.gz
extract
and redo rosmake install scan_tools

[2015-07-08 09:37] k-okada opened #23 "plan for releasing deb package"
Hi,

I would these packages are super useful, do you have any plan to release these package as deb files? so we can use them just install via apt-get

[2015-07-08 16:38] 130s commented on #23
+1 for Indigio where it builds w/o any issues for me.

[2015-07-14 00:59] 130s commented on #23
@idryanov @miguelsdc if you all are busy I can help to make a new release into newer ROS distros (maybe Indigo, Jade. Hydro is end-of-life).

[2015-08-24 18:04] slivingston commented on #15
Alternatively, it may be more reliable to use http://purl.org/censi/2007/csm

[2015-09-23 21:45] slivingston commented on #23
I also can help. Has anyone had contact with the repo owners?

[2015-09-24 03:21] ubuntuslave commented on #23
Try contacting the author, ivan.dryanovski@gmail.com

Good luck!

[2015-09-24 19:08] 130s commented on #23
According to [MaintenanceGuide](http://wiki.ros.org/MaintenanceGuide#Claiming_Maintainership) at ros.org, contacting via issue should be enough (I'm afraid we should better refrain from citing someone's personal email publicly..). Next we may ask for help at ros-release.

[2015-09-25 04:58] ubuntuslave commented on #23
Oops. Sorry, I thought his email was publicly available on the repos (for instance in CCNY RGB-D tools) any way.

Carlos

On Sep 24, 2015, at 3:08 PM, Isaac I.Y. Saito <notifications@github.com<mailto:notifications@github.com>> wrote:

According to MaintenanceGuide[wiki.ros.org]<https://urldefense.proofpoint.com/v2/url?u=http-3A__wiki.ros.org_MaintenanceGuide-23Claiming-5FMaintainership&d=BQMCaQ&c

[2015-10-05 06:20] 130s commented on #23
[Asked a guidance](http://lists.ros.org/pipermail/ros-release/2015-October/004695.html) at ros-release on what to do to move forward.

[2015-10-05 13:13] ubuntuslave commented on #23
I'm willing to help, but I have no more Linux computers with the latest Ubuntu nor ROS on them. I really stopped using ROS a couple of years ago because I was tired of dual booting or using virtual machines.

@130s Let's talk privately to set up the distro and get it working with the latest ROS versions and as debian package. I think @idryanov is busy now working with the Tango project at Google,

[2015-10-13 18:19] 130s commented on #23
@ubuntuslave Progress made by @wjwwood at [ML](http://lists.ros.org/pipermail/ros-release/2015-October/004698.html) and seems like you have a write access. Could you move forward make a new release?

[2015-10-13 22:12] ubuntuslave commented on #23
I added @130s and @wjwwood as collaborators to the scan_tools repo. Let me know how else I can help.

[2015-10-13 22:14] wjwwood commented on #23
I don't actually have time to administrate the repository, but I'm glad to help on specific tasks when asked to.

[2015-10-13 22:18] ubuntuslave commented on #23
Can @130s help us by making "a new release into newer ROS distros "?

[2015-10-14 14:38] 130s opened #26 "[Suggestion] indigo branch"
Given that this package depends on some libraries that their release conditions tend to vary per Ubuntu and ROS distro (e.g. `pcl`), I suggest setting a default branch that couples with ROS distros.
- For now, ROS Indigo should be good
- Since there already branches exist for older distros (fuerte, hydro), naming it as `indigo`
 - We can release from `indigo` branch into both Indigo and Jade until

[2015-10-14 14:39] 130s commented on #23
@ubuntuslave Sure. I'm waiting for https://github.com/ccny-ros-pkg/scan_tools/issues/26 to move forward.

[2015-10-14 14:42] ubuntuslave commented on #26
Why not just leave the `master` as the default and rebase it with the `indigo` branch?

[2015-10-14 14:43] ubuntuslave commented on #26
@130s I branched a new `indigo` branch from `master`.

[2015-10-14 14:58] 130s commented on #26
So that handling an issue like https://github.com/ccny-ros-pkg/scan_tools/pull/24 becomes easier; For example, if we merge https://github.com/ccny-ros-pkg/scan_tools/pull/24 into `master` (assuming my comment https://github.com/ccny-ros-pkg/scan_tools/pull/24#issuecomment-148068451 was right that the PR #24 works only for post-Hydro), people who still want to use Hydro can't build from master out

[2015-10-14 16:07] 130s commented on #26
And for default branch, I also insist on making the latest as the default branch. That way we can reduce the effort of maintaining branches (same is done at many ROS repositories).

[2015-10-14 18:02] 130s commented on #23
Done for Indigo https://github.com/ros/rosdistro/pull/9652

[2015-10-14 18:02] #23 closed

[2015-10-15 00:26] k-okada commented on #23
Thanks you!!! :smile:

[2015-10-15 02:37] ubuntuslave commented on #26
@130s Ok. I agree. Forgive my ignorance: I have been out of the ROS loop for a couple of years so I'm trying to get back to the game. I made the `indigo` branch the default branch of this repo.

[2015-10-15 02:37] #26 closed

[2015-10-15 07:59] 130s commented on #26
No need to be sorry at all! These things are not documented anywhere, only repository stalkers know :palm_tree:

[2015-10-15 08:00] 130s commented on #17
It's released into Indigo #23 so should be indexed soon.

[2015-10-15 08:00] #17 closed

[2015-10-19 17:25] 130s opened #30 "[laser_scan_matcher] ROS Buildfarm build failure "fatal: unable to access 'https://github.com/AndreaCensi/csm.git/': Problem with the SSL CA cert""
Reported at https://github.com/ccny-ros-pkg/scan_tools/pull/29#issuecomment-149214344.

Jenkins build fails http://jenkins.ros.org/job/ros-indigo-laser-scan-matcher_binarydeb_trusty_amd64/5/console when it tries to download `csm` from other github repo.

[code]

[2015-10-19 19:31] 130s commented on #30
I was already kind of afraid of, but ROS facility might not be permissible of the way currently `laser_scan_matcher` builds CSM (i.e. downloading source code of CSM during build process). So I will move forward to release `CSM` as a ROS Third Party Package (see [wiki](http://wiki.ros.org/bloom/Tutorials/ReleaseThirdParty#preview)).

We have 2 choices at least:
- I've opened a PR against the upstre

[2015-10-19 19:33] AndreaCensi commented on #30
The PR was accepted quite rapidly this time :-)

[2015-10-19 21:59] 130s commented on #30
Thanks to @AndreaCensi's prompt response, I'm making a progress. Now CSM release request to ROS Indigo is in flight https://github.com/ros/rosdistro/pull/9677.

[2015-10-21 01:21] 130s commented on #30
Ok, [CSM deb is already built and available](http://www.ros.org/debbuild/indigo.html?q=csm) on ROS [Shadow repo](http://wiki.ros.org/ShadowRepository), but I forgot to add build and install rules (https://github.com/AndreaCensi/csm/pull/11) so what its deb does currently is only to install package.xml (silly me). Unfortunately I won't be able to work on this until this weekend at earliest. So if s

[2015-10-27 23:06] 130s commented on #30
I'm hoping to take some time this weekend (yes I'm saying it again) to work on this.

Meanwhile @miguelsdc you seem to have [catkinized a portion where csm gets downloaded](https://github.com/ccny-ros-pkg/scan_tools/blob/indigo/laser_scan_matcher/csm/GetCSM.cmake). Would you be willing to help writing [CMakeLists.txt on csm_eigen branch in csm](https://github.com/AndreaCensi/csm/blob/csm_eigen/CMa

[2015-11-02 03:18] k-okada commented on #30
it is not a good, but better than leave broken package, so if I ware maintainer hee, I would choose adding depends to wget or ca_certificates, but menteiners here already choose right but difficult path; here is the solution https://github.com/ccny-ros-pkg/scan_tools/pull/31

csm deb is also not working right now -> https://github.com/tork-a/csm-release/issues/1

[2015-11-10 23:48] 130s commented on #21
Addressed via #35

[2015-11-10 23:48] #21 closed

[2015-11-10 23:57] 130s commented on #18
Starting from laser_scan_matcher ver 0.3.0, CSM doesn't get built upon compilation and instead it has become an external library and LSM just depends on it. Please consider using DEB version by `apt-get install ros-indigo-scan-tools` that automatically installs dependencies like CSM, if you're on Ubuntu.

[2015-11-10 23:57] #18 closed

[2015-11-11 00:02] 130s commented on #15
Addressed in https://github.com/ccny-ros-pkg/scan_tools/commit/6fab4b68d0035e8ba2034c45b628905308da1625#diff-38d5bb5069c3fe5bdada83f60c91ec98

[2015-11-11 00:02] #15 closed

[2015-11-11 00:03] 130s commented on #10
Please consider using DEB version. See https://github.com/ccny-ros-pkg/scan_tools/issues/18#issuecomment-155606847
Feel free to reopen if the issue still persists.

[2015-11-11 00:03] #10 closed

[2015-11-11 02:28] 130s commented on #30
Finally release request for a new version is sent https://github.com/ros/rosdistro/pull/9806.
Closing this ticket hoping the new release will fix this.

[2015-11-11 02:28] #30 closed, assigned to nobody

[2015-12-14 22:18] 130s opened #38 "Remove master branch"
To avoid confusion like https://github.com/ccny-ros-pkg/scan_tools/pull/37

(I can't execute it since I don't have admin access for this repository.)

[2015-12-15 04:23] ubuntuslave commented on #38
Should it be just deleted? Let me know, so I do it in your behalf.

[2015-12-15 16:40] 130s commented on #38
Yes that was my suggestion.

[2015-12-15 20:11] ccny-ros-pkg commented on #38
Done!

[2015-12-15 20:11] #38 closed, assigned to nobody

[2015-12-17 22:57] sequoia-hope opened #39 "Cannot build newer versions that don't compile CSM"
Some time around commit d214d705525717e9dac93b2a1a0ff4e1e35c9e46, the function to automatically compile CSM was removed.

Both myself and two other coworkers have tried to compile CSM and link it to this library with no success. I'm not sure what I'm doing wrong, but it was a big pain to try. Ultimately, I switched to the above commit, where CSM is automatically downloaded and compiled, and everyt

[2015-12-17 23:10] 130s commented on #39
Sorry for the inconvenience. You can now install `laser_scan_matcher` via `apt-get`, by `sudo apt-get install ros-indigo-scan-tools` (for Indigo).

If you have specific reason to build from source, `git clone https://github.com/AndreaCensi/csm.git` into your catkin workspace and build together (I'll have to document this).

Please reopen if the above is not sufficient.

[2015-12-17 23:10] #39 closed, assigned to nobody

[2015-12-18 00:17] 130s commented on #39
I've made some update. https://github.com/ccny-ros-pkg/scan_tools/pull/40 Hope this helps.

[2015-12-18 02:16] sequoia-hope commented on #39
Thanks for the quick response. I'm using ROS Jade, which does work with the version of scan_tools I mention above when build from source. There are no binaries for Jade in the repo.

The new instructions do not work with Jade. I when I try to run the wstool line, I get the following error:

If I clone the repo directly into the src directory of my catkin workspace, run the rosdep line (with jade i

[2015-12-18 08:20] 130s commented on #39
@tlalexander Sorry, https://github.com/ccny-ros-pkg/scan_tools/pull/41 is needed too.

Their binary should be available. `apt-get install ros-jade-scan-tools`.

[2015-12-18 18:42] sequoia-hope commented on #39
Thanks, compiling from source seems to work now. However, ros-jade-scan-tools is not found in my repo. All the other ros-jade stuff is there.

[2015-12-18 19:31] 130s commented on #39
Oh, now I see what's going on. I'm working to release the missing packages into Jade.

[2015-12-18 19:33] 130s opened #42 "Release into Jade"
Pointed out https://github.com/ccny-ros-pkg/scan_tools/issues/39#issuecomment-165867753.

https://github.com/ros/rosdistro/pull/9733#issuecomment-152684150 removed `scan_tools` meta package and `laser_scan_matcher` from Jade. They should be now good to be re-released (they already are re-released into Indigo).

[2015-12-18 19:34] 130s commented on #42
CSM is in the air https://github.com/ros/rosdistro/pull/10092

[2015-12-22 06:08] 130s commented on #42
Done https://github.com/ros/rosdistro/pull/10120

[2015-12-22 06:08] #42 closed, assigned to 130s

[2015-12-24 01:32] 130s commented on #42
@tlalexander DEB of `scan_tools` for Jade is now available in so-called [Shadow Repository](http://wiki.ros.org/ShadowRepository). Nevermind if you have no idea what it is; it'll still become available soon when "public repository sync" happens (that's when the ROS manager announces new packages ([e.g. this](http://lists.ros.org/pipermail/ros-users/2015-November/069765.html)).

[2016-01-05 18:32] sequoia-hope commented on #42
Thanks! I see that it is still not in my repo, but I will wait a few more weeks and see if it gets sync'd.

[2016-01-08 15:14] tappan-at-git opened #43 "Laser Scan Matcher: Option to publish pose with covariance (stamped)"
Many localization packages require poses with covariance instead of raw poses (e.g. Robot Localization). Additionally, laser_scan_matcher does not use CSM's computed covariances even when the do_compute_covariance parameter is set.

[2016-03-19 16:37] 130s commented on #43
Addressed via #44

[2016-03-19 16:37] #43 closed, assigned to nobody

[2016-03-19 17:02] ubuntuslave commented on #43
Thank you guys!

[2016-04-12 04:22] libing64 opened #47 "package 'openni-dev' not found"
In fact, I have installed libopenni-dev and libopenni2-dev, but it always said "package openni-dev not found".

my ros version: indigo

[2016-04-12 04:34] 130s commented on #47
Please provide reproducible scenario, and the full length output. I suspect otherwise very few people can try tracking down the issue you're seeing.

[2016-04-12 04:46] libing64 commented on #47
@130s

-- +++ processing catkin metapackage: 'scan_tools'
-- ==> add_subdirectory(scan_tools)
-- +++ processing catkin package: 'laser_scan_sparsifier'
-- ==> add_subdirectory(laser_scan_sparsifier)
-- +++ processing catkin package: 'laser_scan_splitter'
-- ==> add_subdirectory(laser_scan_splitter)
-- +++ processing catkin package: 'ncd_parser'
-- ==> add_subdirectory(ncd_parser)
-- Using these me

[2016-04-12 04:46] libing64 commented on #47
libing@libing0:~/catkin_ws/scan_tools$ dpkg -l | grep openni

ii  libopenni-dev                                         1.5.4.0-7                                           amd64        headers for OpenNI 'Natural Interaction' frameworks
ii  libopenni-sensor-pointclouds0                         5.1.0.41.1-1                                        amd64        Microsoft Kinect sensor modules for the

[2016-04-12 04:51] libing64 commented on #47
If the laser_scan_matcher is added to the black list, then the scan_tools can be compiled successfully.
-DCATKIN_BLACKLIST_PACKAGES="laser_scan_matcher"

[2016-04-12 05:25] 130s commented on #47
By this I meant the commands you used.

Anyways, without fully knowing your conditions and thus not being able to replicate the issue, what if you run:

[code]

and then build again?

(I don't know if `~/catkin_ws/scan_tools` works. I thought Catkin look for source only in `src` folder.)

BTW, you know binary for `scan_tools` is available right? `sudo apt-get install ros-indigo-scan-tools`.

[2016-04-12 06:31] libing64 commented on #47
@130s Thanks for your kind reply.
Here is the commands I used.
cd ~/catkin_ws
git clone xxx
rosdep install --from-paths scan_tools  --ignore-src --rosdistro indigo -y
catkin_make --source scan_tools
I know ros-indigo-scan-tools exits, but I need to modify the code so I should compile from source.

[2016-04-13 17:36] 130s commented on #47
What URL did you use? Please share _exactly_ what you do as much as possible.

And assuming the URL in, I just did the following that builds fine.

[code]

So again, we need the list of full, exact commands you use.

[2016-04-14 01:44] libing64 commented on #47
@130s
"git clone xxx" means
git clone https://github.com/ccny-ros-pkg/scan_tools

[2016-04-14 23:12] 130s commented on #47
I see.
As in https://github.com/ccny-ros-pkg/scan_tools/issues/47#issuecomment-209558058, I'm not able to reproduce your issue. And I now suspect your issue may or may not be scan_tools specific. I suggest you asking on http://answers.ros.org/ and paste the link to your question here so that we can join.

[2016-04-14 23:12] #47 closed, assigned to nobody

[2016-04-19 14:46] corot opened #48 "scan matcher flag to prevent pose/tf publishing on pose jumps?"
I'm using laser scan matcher combined with odometry using [robot_localization](https://github.com/cra-ros-pkg/robot_localization). In general works ok, but sometimes it does pose jumps without showing any error. This is different from issue #20: I don't experience that errors anymore. But jumps are by definition erroneous, as visual odometry must be continuous. So I propose to add a couple of para

[2016-05-23 10:46] libing64 commented on #47
After installing ros-indigo-csm, the problem is solved.
`sudo apt-get install ros-indigo-csm`

[2016-05-31 23:49] 130s commented on #47
That must have been taken care of if you ran `rosdep` command I mentioned earlier.

Maybe sharing your output of `rosdep install --from-paths scan_tools --ignore-src --rosdistro indigo -y` without `ros-indigo-csm` installed helps (if you still like to track down the issue).

[2016-11-29 14:33] Minipada opened #49 "laser_scan_matcher license"
Hello,

I was checking the license and there are 2 listed in the [package.xml](https://github.com/ccny-ros-pkg/scan_tools/blob/indigo/laser_scan_matcher/package.xml#L18). Which one is it?

Thanks!

[2016-11-30 03:47] 130s commented on #49
Good question, I don't know the answer to that, and quick research didn't return specific answers either ([this page](https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#Multiple_Licensing_Scenarios) was helpful but I'm still not clear what to do). If you could figure that out and let us know, that'll be appreciated.

A little background of the situation:

[2017-02-13 11:19] raynerthestoner opened #50 "Laser Ortho Projector"
Hi,

I realize the code requires the use of either an `imu` or a `geometry_msgs/pose`. I do not have an imu. May I know how to get the pose of my 2D RPLidar A2 sensor? The `pose` and `use_pose` is not documented anywhere in the package summary, so I have no idea how to make this node work properly as it is not providing the `base_ortho` tf transformation.

Thanks!

[2017-02-24 20:41] ubuntuslave commented on #50
you may just publish a [static tf](http://wiki.ros.org/tf#static_transform_publisher) for the `base_ortho` and set it to identity or to an estimated transform of your `laser_base_frame` or whatever it was called (I already forgot exactly). If you understand the transform links, then fixing the code to make it work without an IMU is possible although not intended for mapping nor height estimation b

[2017-02-27 05:31] raynerthestoner commented on #50
I am planning for my robot move on level ground but with a sensor tilted at a fixed pitch angle. If I have static tf transforms of `world to base link`  , `world->base_ortho` ,  `base_ortho->laser` , (the tf transform for `base link` and `base_ortho` are in the same position) it should work right? Currently what I see on RVIZ is that the pointcloud2 is not accurately projected vertically downwards

[2017-03-10 18:28] stwirth opened #51 "Release for kinetic"
Hi, could we get a release of scan_tools for ROS kinetic please?
csm has been released for kinetic recently https://github.com/ros/rosdistro/pull/14128.

Thanks!

[2017-03-10 20:09] 130s commented on #51
`csm` for Kinetic has been failing to build on ROS buildfarm (e.g. [this](http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__csm__ubuntu_xenial_amd64__binary/3/console)) so that should be fixed first.
I won't be able to work on that for a few weeks at least. If someone can give it a shot that'll be great.

[2017-03-20 19:02] stwirth commented on #51
latest build for csm succeeded: http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__csm__ubuntu_xenial_amd64__binary/6/

[2017-03-22 23:51] 130s commented on #51
https://github.com/ros/rosdistro/pull/14260 Done

[2017-03-22 23:51] #51 closed, assigned to nobody

[2017-03-23 08:03] stwirth commented on #51
Thanks!

[2017-04-11 11:07] zainmehdi opened #53 "World Frame doesnt exist"
I am trying to use your package with intel data set. It works fine with demo.bag file but when I use it with intel's data it keeps on saying that the world frame doesnt exist. Can you please provide some hints as to how to solve this problem.

[2017-04-26 21:05] ubuntuslave commented on #53
remap it.

[2017-04-26 21:05] #53 closed, assigned to nobody

[2017-05-01 18:43] HUDiwan opened #54 "Laser Scan Matcher Compatibility"
Hello, I am trying to use the laser scan matcher in Kinetic - Ubuntu 16.04. However, the laser scan matcher node is not running. I believe it is compatibility issue, can you please verify?
Thanks.

[2018-03-04 02:59] EwingKang commented on #54
@HUDiwan  I can run the node on 16.04+Kinetic without problem( well, except the odometry bug that is)
Have you install CSM?

[2018-03-18 17:08] ghost opened #59 "laser_scan_matcher subscribing to wrong message type: nav_msgs/Odometry/"
Hello,
I am trying to use laser scan matcher for scan-based localization, on **ROS Indigo**.
However, when laser_scan_matcher starts, I get an error;
**[ERROR] [1521390276.090566633]: Client [/laser_scan_matcher_node] wants topic /map to have datatype/md5sum [nav_msgs/Odometry/cd5e73d190d741a2f92e81eda573aca7], but our version has [nav_msgs/OccupancyGrid/3381f2d731d4076ec5c71b0759edbe4e]. Dropping

[2018-03-18 17:32] ghost commented on #59
So, I changed:
`if (!nh_private_.getParam ("use_odom", use_odom_))
    use_odom_ = true;`
to:
`if (!nh_private_.getParam ("use_odom", use_odom_))
    use_odom_ = false;`

I do not get the datatype/md5sum error, but the:
`[ WARN] [1521390281.116509155]: Timed out waiting for transform from base_link to map to become available before running costmap, tf error: . canTransform returned after 0.101214

[2018-04-05 21:53] trixr4kdz commented on #54
Hi @EwingKang, I'm also trying to do the same thing, but it seems like I can't get the `odom->base_link` tf. I'm using `tf2_ros` to publish the `base_link->laser_frame` and on my launch file for laser_scan_matcher_node, I have `fixed_frame = odom` and `base_frame = base_link` and I've remapped the `scan` topic to the correct topic. How did you manage to get yours to work? Also, what is CSM?

[2018-04-06 07:21] EwingKang commented on #54
@trixr4kdz "CSM" stands for " Canonical Scan Matcher".
You can check whether you've installed that by `sudo dpkg -l
 grep csm`, there should be an entry of "ros-kinetic-csm", use apt-get to install if there's nothing. Please check [the official wiki] (http://wiki.ros.org/laser_scan_matcher) for more info.
Did your scan matcher terminal give out any error? You may wanna check everything with rqt. I

[2018-04-19 14:59] af-silva opened #60 "Error in scan matching"
Hi,

I have a robot application and I was testing this package for Laser Odometry and stumbled with this problem error running the node, I have briefly looked into the code but I was not able to understand the cause of the error.

`:err: Valid: 27/1083 invalid: 1056.
[ WARN] [1524149236.189355990, 17446.189000000]: Error in scan matching`

So, my software configuration is as follows: I have a node

[2018-11-23 03:19] rivkaer commented on #59
Have you solved this problem?

[2019-03-18 10:11] msadowski opened #63 "Can't build laser_scan_matcher for melodic"
Hi! I've been trying to build the package from source for melodic but can't seem to get it right.
Running `catkin build laser_scan_matcher` I see that csm builds OK (there are some warnings but it goes through) but I get an error from the laser_scan_matcher:

[code]

The CmakeLists.txt the code is pointing to is: `pkg_check_modules(csm REQUIRED csm)`

Running `rospack find csm` returns the correct

[2019-04-24 11:54] FranekStark commented on #63
Hey, i had the same problem and this is my solution:

1. clone the csm-Repo in your _catkin_ws_: `git clone https://github.com/AndreaCensi/csm`
2. move in to the repo `cd csm`
3. move back `cd ..`
4. solve dependencies: `rosdep install --from-paths src --ignore-src -r -y`
5. move into csm `cd csm`
6. Use the install instructions from their [manual](file:///C:/Users/Franek/Downloads/csm_manual.pdf)

[2019-07-31 18:30] Lyauk commented on #63
Hey, try my metod
1  cd ~/catkin_ws/src
2  git clone https://github.com/AndreaCensi/csm
3  cd ..
4 catkin_make_isolated
5 cd ~/catkin_ws/src
6 git clone https://github.com/ccny-ros-pkg/scan_tools.git
7 cd ..
8 catkin_make_isolated
9 source devel/setup.bash

[2019-09-09 11:57] ClaraGomez commented on #60
Hi, I am having the same problem. Did you find a solution? Thanks!

[2019-09-16 08:54] af-silva commented on #60
Hi @ClaraGomez, sorry for the late reply...
This was sometime ago and I didn't pursued a solutions for this, I couldn't understand the cause, so I switch to another solution, try [this one](http://wiki.ros.org/rf2o_laser_odometry).

Sorry for not being much of a help ;)

[2019-11-29 16:26] Xvdgeest opened #64 "Using laser_scan_matcher to find transforms between 2 robots with lidar."
Hi,

I was wondering if I could use the CSM to estimate the transform between two robots, both equipped with Lidar, scanning their surroundings (and each other). The starting positions will be unknown.

I guess I would have to adjust the laser_scan_matcher_node to accept two /scan topics, use the CSM to match both scans and get a transform.

I'd like hear your opinion on this.

[2019-11-30 01:26] Cijoxx commented on #64
Hi,

Sorry for that I cannot help you ,i haven't used two robots in a system。But i have an immaturity idea for your question.First,you can drive two robot to get maps of the same surrounding(the larger of two maps).Then, let robots connect to the same master,set the tf, share their locations,complete the transform.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Xvdgeest"<no

[2019-12-03 09:07] Xvdgeest commented on #64
Hi,

this is also an option I am investigating, using the multirobot map merge package to get reliable transforms.
https://github.com/hrnr/m-explore/pull/30
However, since I don't need to build a map, I wanted to try with laser_scan_matcher as well.

[2019-12-11 08:58] artemiialessandrini opened #65 "Using laser_scan_matcher to accomplish Extrinsic Calibration for 2 2D Laser Scans"
Greetings!
Since extrinsic calibration is so painstaking to handle, but also happen needed to be re executed, if robot might hit the wall, get transported , etc. so,
I'm thinking of possible workaround to implement ICP based Extrinsic Calibration tool,  which solves this tf:

`front_lidar ----> base_frame <---- rear_lidar`

For laser_scan_matcher, this task looks doable, the only thing is to calcu

[2019-12-11 09:10] artemiialessandrini commented on #65
First thing coming on mind is to run _lidar_scan_matcher_ with different _/ns_ for both lidars,
use TransformListener to lookup for transform.
But it doesn't take into account base_link - lidars, also there's no error computation.

[2020-02-05 12:54] 1plus-1 commented on #48
Lately I meet the similar issue. And I found the solution from #58. EwingKang had a fix in this fork: https://github.com/EwingKang/scan_tools. It fixes my issue.

[2020-04-02 09:41] 772894624 opened #66 "laser_scan_matcher.cpp"
hi，I do not understand why got  the "
// account for the change since the last kf, in the fixed frame
pr_ch = pr_ch * (f2b_ * f2b_kf_.inverse());
 // the predicted change of the laser's position, in the laser frame
 tf::Transform pr_ch_l;
 pr_ch_l = laser_to_base_ * f2b_.inverse() * pr_ch * f2b_ * base_to_laser_ ;" in the laser_scan_matcher.cpp.
Can someone explain it to me？
thanks！

[2020-09-11 23:44] rfzeg commented on #63
(ROS Melodic)
I am able to clone and build csm, but when trying to build scan_tools I get this error message:

-- Checking for module 'csm'
--   No package 'csm' found
CMake Error at /usr/share/cmake-3.10/Modules/FindPkgConfig.cmake:415 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.10/Modules/FindPkgConfig.cmake:593 (_pkg_check_modules_inte

[2020-10-15 20:16] simonbogh opened #67 "Release for Melodic and Noetic"
Hi,

Are there any plans to update and release the package so it becomes available for Melodic and Noetic?

[2021-02-15 09:27] stwirth commented on #67
ping @130s

[2021-02-15 14:25] 130s commented on #67
Ok...I'm no longer a user but have just started updating CI for M and N. https://github.com/ccny-ros-pkg/scan_tools/pull/68

[2021-02-15 20:18] 130s commented on #67
- M: https://github.com/ros/rosdistro/pull/28331
- N: https://github.com/ros/rosdistro/pull/28332

Release will be completed when:
- Done for those who use from source, or on non-Ubuntu platform.
- For Ubuntu users who wish to use binary installer, once they are merged AND OSRF announces their apt repo is in sync.

Either way, I'm closing this as we're very close. Please feel free to leave comment

[2021-02-15 20:19] #67 closed, assigned to 130s

[2021-02-15 20:36] 130s opened #69 "[Maintenance]: Maintainer in need"
# Problem
I joined the maintenance of `scan_tools` repo when I was an active user and the maintainers back then seemed to be busy. Unfortunately I no longer am the user. AFAICT, other then-maintainers have not been active (checking in @ubuntuslave). So I'd call this repo is nearly unmaintained (I just made first releases into newer ROS distro https://github.com/ccny-ros-pkg/scan_tools/issues/67#is

[2021-02-16 07:17] stwirth commented on #67
Thank you @130s!

[2021-02-23 21:20] jremy97 commented on #63
(ROS Melodic)

@Lyauk I used your method to build the package and it succeeded, but when I tried to use it in a test launch file, I get the following error:

ERROR: cannot launch node of type [laser_scan_matcher/laser_scan_matcher_node]: Cannot locate node of type [laser_scan_matcher_node] in package [laser_scan_matcher]. Make sure file exists in package path and permission is set to executable (c

[2021-03-07 10:14] AlperenKosem commented on #63
@jremy97 i had same issue and i solved like below.

[https://github.com/ccny-ros-pkg/scan_tools/issues/63#issuecomment-486194571](url)
i followed these instructions. You should careful location of csm file it should be in your workspace not in src directory.
After that,

1 -  cd ~/catkin_ws/src
2 -  git clone https://github.com/ccny-ros-pkg/scan_tools.git
3 - catkin_make
4 - source devel/setup.bas

[2021-03-07 10:16] AlperenKosem commented on #63
@jremy97 i had same issue and i solved like below.

https://github.com/ccny-ros-pkg/scan_tools/issues/63#issuecomment-486194571
i followed these instructions. You should careful location of csm file it should be in your workspace not in src directory.
After that,

1 -  cd ~/catkin_ws/src
2 -  git clone https://github.com/ccny-ros-pkg/scan_tools.git
3 - catkin_make
4 - source devel/setup.bash

[2021-04-30 15:17] 130s commented on #69
Checking in again. If I hear none then I'll start "Orphaned package" process.

Care to chime in @ubuntuslave  or any others who've contributed to this repo?

[2021-07-05 21:01] sisaha9 commented on #69
Maybe check over in ROS Discourse?

[2021-07-19 16:20] cst0 commented on #69
Hey @130s -- I've started to rely on this package on a handful of projects here in the lab, am pretty comfortable with ROS, and have a small amount of experience pushing stuff to the ROS repositories. If you're still looking for a maintainer, I'm willing to volunteer.

[2021-07-29 17:15] mehditlili opened #71 "How to force scan matcher to match all points"
In the case shown in the image below, I couldn't find a way to make the scan matcher give me a correct relative pose between the two scans (Reference scan shown in red here, lidar scan from the robot shown in yellow). What I think happens is that there are so many coplanar points corresponding to the walls on the left and right of the robot that they lead icp to ignore the few points portruding (p

[2021-08-04 08:19] espnic opened #72 ".."

[2021-10-26 17:48] Nosille commented on #71
First, I am not involved with laser scan matcher, but I saw you post and have also had this problem.  I can say it is not unique to laser scan matcher.  It is a general problem with icp implementations.  Basically, icp is a gradient decent process.  Once shifting the point cloud a small increment does not result in improvements in the quality of the match, it declares the match as best fit, and fi

[2022-02-01 23:11] rachelzh9 opened #73 "Laser scan matcher demo"
I'm using ROS noetic on Ubuntu 20.04. After trying installing from binary and source, I tried running the demo. However, the laser scans don't seem to appear on rviz even though data is being published on the /scan topic. Maybe it has to do with these warnings?
[ WARN] [1643756842.717890740, 1282836372.062793756]: Invalid argument "/laser" passed to canTransform argument source_frame in tf2 frame_

[2022-07-06 19:24] Jhala420 opened #74 "Robot stopped after 10 grids but laserScan keep moving during gmapping"
Hello. I'm doing gmapping with rplidar A1 and laser_scan_matcher package (to create odom from lidar). Gmapping start and creating map. But after 10 grids in rviz (Or 10meter) robot stops and laserscan keep moving. You can see [https://drive.google.com/file/d/16rkqVRpO99HXAoUTXJfcc5MCuQH7CQNN/view?usp=sharing](url)

I'm using: ros-noetic Python3 Ubuntu 20.04

[2022-07-12 03:44] solutiongeek2022 commented on #69
The debugging of [laser beam welder](https://www.laserchina.com/welder/) makes sense.

[2022-07-12 03:44] malban opened #75 "ROS2 port"
@130s

I'm working on a ROS2 port of the laser_scan_matcher package that I would like to get pulled into this repo, if possible, and setup for releasing:
 - https://github.com/malban/scan_tools/tree/ros2

In addition to porting to ROS2, this version also:
 - fixes covariance calculation to capture the correct values and rotate them correctly into the odom frame
 - adds optional covariance augmenta

[2022-07-12 03:57] 130s commented on #69
@cst0 Sorry for the late response. Are you still interested in joining the maintainership?

@solutiongeek2022 I'm not sure how your comment is relevant to the context.

[2022-07-12 04:34] 130s commented on #72
Empty. Closing.

[2022-07-12 04:34] #72 closed, assigned to nobody

[2022-07-12 05:17] 130s commented on #75
Sounds good to me.

Changes you're proposing sounds like technically there are 2 different kinds: ROS2 porting, and fix/improvement. The latter can go to ROS1 branches. It'd ideally if you could split PRs, but that's up to you. At minimum, would you please make sure commits are separate for those 2 types of changes (so that others may easily cherry-pick if they want to)?

[2022-07-12 06:37] CsatariGergely opened #76 "License declaration is missing"
The license declaration of the project is missing either in a form of a single LICENSE file or in a [Reuse](https://reuse.software/) compatible way. Declaration of the license makes the code more easy to consume and contribute to. Currently only the [ROS page](http://wiki.ros.org/laser_scan_matcher) of the project mentions BSD and LGPLv3, without specifying the variant of BSD and some of the sourc

[2022-07-12 13:15] malban commented on #75
Probably easiest for me to just create some backport PRs for ros1.
1. fixes to covariance
2. new degenerate axis covariance feature
3. option to use tf for prediction instead of velocity messages
    - I don't want to remove the velocity message inputs for ros1 since it might break existing configurations

The dynamic reconfiguration for parameters is handled completely differently in ros2, so I'm

[2022-07-12 22:33] cst0 commented on #69
Hi @130s -- no worries on the timing. Yes, I'm still happy to help out.

[2022-07-14 03:54] malban commented on #75
@130s I created PRs to the ros1 branch to:
- address the covariance issue: https://github.com/CCNYRoboticsLab/scan_tools/pull/78
- address the incorrect predictions and add tf as a prediction input: https://github.com/CCNYRoboticsLab/scan_tools/pull/79

[2022-07-14 21:02] 130s commented on #76
Thanks for the help! The Open Robotics team also requested clarifying the license status https://github.com/ros/rosdistro/pull/28331#pullrequestreview-635987371, so this might as well have to be officially addressed.

[2022-07-14 21:45] 130s commented on #48
@malban Do you think your https://github.com/CCNYRoboticsLab/scan_tools/pull/79 addresses this as well?

[2022-07-15 01:08] malban commented on #48
Not sure.  #79 fixes one major source of jumps in the current code, caused by incorrect predictions, which could have been the root cause of what this issue was addressing.  But jumps might also be caused by other things related to the sensor data and actual scan match failure.

Hard to know without more data or feedback from the reporter.

[2022-07-15 03:11] 130s commented on #69
@cst0 Great! First would you helping out by joining the discussion that needs opinions/approvals https://github.com/AndreaCensi/csm/issues/33#issuecomment-1185129291?

[2022-07-15 18:14] 130s commented on #73
Supposed to be addressed by https://github.com/CCNYRoboticsLab/scan_tools/pull/77

[2022-07-15 18:14] #73 closed, assigned to nobody

[2022-07-15 18:37] 130s commented on #76
@CsatariGergely While I agree to clarify license in a computer-friendly way (believe me as I've even started automating some part of free s/w licensing https://github.com/ros-infrastructure/rospkg/pull/201), to give a quick response in an interest of time,
- Overall all the software on this repo are likely BSD (Disclaimer: I'm relying on the declaration in `package.xml` files. I haven't yet done s

[2022-07-15 19:10] cst0 commented on #76
I'm not sure LGPL is coming from `GSL`: the integration of GSL (a GPLv3 package) means that those branches are actually GPLv3 through copylefting, the license in the package/github page is (I believe) incorrectly reflecting the more permissive LGPL. I think I remember reading that the original implementation was released under LGPL intentionally, but I can't find any proof of that.

[2022-07-16 02:19] malban commented on #76
**EDIT:  I was confused.  I was speaking about the csm repo.   This repo I do believe is BSD-3-clause (mostly) and the LGPLv3 is refering to the csm dependency.**

@cst0   I agree.  It seems like this repo was originally released and is currently licensed as LGPLv3, intentionally, regardless of the GSL dependency which is GPL.

@130s  Make sure to note the difference between LGPL and GPL.

I think

[2022-07-18 13:22] CsatariGergely commented on #76
Thanks for the answers. I'm happy to see that others also would like to clarify the licensing in the repo.
On "BSD" you mean BSD-3-Clause, BSD-2-Clause or some other variants of BSD?

[2022-07-18 14:10] malban commented on #76
Most commonly in ROS it's BSD-3-Clause.

It seems like that's the case here: https://github.com/CCNYRoboticsLab/scan_tools/blob/indigo/laser_scan_matcher/include/laser_scan_matcher/laser_scan_matcher.h#L1-L28

From what I can tell, all of the packages in this repo, except `polar_scan_matcher` are marked as BSD int he `package.xml` and contain source files with a BSD-3-Clause license.

The `laser_s

[2022-07-18 14:44] malban commented on #76
I made a MR to address this: https://github.com/CCNYRoboticsLab/scan_tools/pull/80

[2022-07-21 21:16] 130s commented on #66
Closing as https://github.com/CCNYRoboticsLab/scan_tools/pull/79 seems to be meant to address the question. If it doesn't, please feel free to add more info.

[2022-07-21 21:16] #66 closed, assigned to nobody

[2022-07-21 21:17] 130s commented on #20
Closing as https://github.com/CCNYRoboticsLab/scan_tools/pull/79 seems to be meant to address this. If it doesn't, please feel free to add more info.

[2022-07-21 21:17] #20 closed

[2022-07-28 14:43] malban opened #83 "ROS1 branch fails to build"
PR to fix in #82

[2022-08-05 20:43] 130s commented on #76
Thanks for discussion.

- If my concern https://github.com/CCNYRoboticsLab/scan_tools/pull/80#pullrequestreview-1063923986 is correct, I think of 2 actions that can happen in parallel.
   - let's embrace GPL.
   - ask original authors to ask if it's ok to change license to what we think appropriate (I've seen it happening elsewhere).
- As discussed in https://github.com/CCNYRoboticsLab/scan_tools/

[2022-08-05 22:07] malban commented on #76
@130s I think the only package that is actually GPL is `polar_scan_matcher`

The rest are all BSD-3-Clause, with source files marked as such.

Additionally, laser_scan_matcher also calls out LGPL in the package.xml.  It's not clear what the intent of the LGPL reference is It could be:
  1. A dual license for the laser_scan_matcher package
  2. A mixture of some files being BSD and some being LGPL

[2022-08-16 12:26] Baguviks opened #84 "I want to install it from source for Noetic"
I can install it from binary but I have to see the code and change somethings. When I install from source I receive an error:
[code]

You have any idea how can i fix my problem?

[2022-08-17 20:33] cst0 commented on #84
Hi, in the last merge there was some variables that got renamed, which is causing the error you're seeing here. It's discussed in #82, you can see the two lines that you'd have to change there.